doctype html
//if IE 9
  html.ie9(lang='en')
// [if !IE] <!
html(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title Mark Muchane | My Website
    meta(name='description', content='Worthy a Bootstrap-based, Responsive HTML5 Template')
    meta(name='author', content='htmlcoder.me')
    // Mobile Meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Favicon
    link(rel='shortcut icon', href='images/favicon.ico')
    // Web Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:700,400,300', rel='stylesheet', type='text/css')
    // Bootstrap core CSS
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
    // Font Awesome CSS
    link(href='fonts/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Plugins
    link(href='css/animations.css', rel='stylesheet')
    // Worthy core CSS file
    link(href='css/style.css', rel='stylesheet')
    // Custom css
    link(href='css/custom.css', rel='stylesheet')
    <link rel="icon" href="http://muchanem.surge.sh/imgages/favicon.ico">
  body.no-trans
    // scrollToTop
    // ================
    .scrollToTop
      i.icon-up-open-big
    // header start
    // ================
    header.header.fixed.clearfix.navbar.navbar-fixed-top
      .container
        .row
          .col-md-4
            // header-left start
            // ================
            .header-left.clearfix
              // logo
              .logo.smooth-scroll
                a(href='#banner')
                  img#logo(src='', alt='')
              // name-and-slogan
              .site-name-and-slogan.smooth-scroll
                .site-name
                  a(href='#banner') Muchanem
                .site-slogan
                  | My Website by
                  a(target='_blank', href='http://muchanem.surge.sh')  muchanem
            // header-left end
          .col-md-8
            // header-right start
            // ================
            .header-right.clearfix
              // main-navigation start
              // ================
              .main-navigation.animated
                // navbar start
                // ================
                nav.navbar.navbar-default(role='navigation')
                  .container-fluid
                    // Toggle get grouped for better mobile display
                    .navbar-header
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    // Collect the nav links, forms, and other content for toggling
                    #navbar-collapse-1.collapse.navbar-collapse.scrollspy.smooth-scroll
                      ul.nav.navbar-nav.navbar-right
                        li.active
                          a(href='#banner') Home
                        li
                          a(href='#about') About Me 
                        li
                          a(href='#services') My Blog
                        li
                          a(href='#clients') School Work
                        li
                           a(href='#portfolio') My Projects
                        li
                          a(href='#contact') Contact
                // navbar end
              // main-navigation end
            // header-right end
    // header end
    // banner start
    // ================
    #banner.banner
      .banner-image
      .banner-caption
        .container
          .row
            .col-md-8.col-md-offset-2.object-non-visible(data-animation-effect='fadeIn')
              h1.text-center
                | Welcome to 
                span My Website
              p.lead.text-center

    // banner end
    // section start
    // ================




    .section.clearfix.object-non-visible(data-animation-effect='fadeIn')
      .container
        .row
          .col-md-12
            h1#about.title.text-center
              | About 
              span Worthy
            p.lead.text-center
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officia, aspernatur.
            .space
            .row
              .col-md-6
                img(src='images/section-image-1.jpg', alt='')
                .space
              .col-md-6
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
                ul.list-unstyled
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Lorem ipsum dolor sit amet
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Reiciendis deleniti neque aliquid
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Ipsam fuga error commodi
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Lorem ipsum dolor sit amet
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Dignissimos molestiae necessitatibus
            .space
            h2 Becessitatibus quae beatae possimus ullam
            .row
              .col-md-6
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
                p
                  | Vitae dolores quam magnam accusantium nam, voluptatibus expedita delectus, dolorum odio magni ut nemo nihil ex earum pariatur molestias velit eveniet, facere autem saepe aut. Ut minima itaque porro facere. Cumque vitae autem, dignissimos molestiae necessitatibus culpa aliquam deleniti soluta sunt voluptatibus tenetur, unde dolorem eligendi doloribus quibusdam facere totam. Possimus atque deserunt numquam aliquam magnam, facilis officiis illo alias ipsa voluptas laborum, praesentium eveniet nobis velit voluptatem odio eligendi, corporis et iste distinctio! Repellendus, id, ad.
              .col-md-6
                #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  .panel.panel-default
                    #headingOne.panel-heading(role='tab')
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                          | Collapsible Group Item #1
                    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
                  .panel.panel-default
                    #headingTwo.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                          | Collapsible Group Item #2
                    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  .panel.panel-default
                    #headingThree.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                          | Collapsible Group Item #3
                    #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                      .panel-body
                        | Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
    // section end
    // section start
    // ================
    .section.translucent-bg.bg-image-1.blue
      .container.object-non-visible(data-animation-effect='fadeIn')
        h1#services.text-center.title My Blog
                  .separator
        p.lead.text-center
          br
        br
        .row.object-non-visible(data-animation-effect='fadeIn')
          .col-md-12
            // isotope filters start
            // isotope filters end
            // portfolio items start
            .isotope-container.row.grid-space-20
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/blog-1.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#blog-1')
                      i.fa.fa-search-plus
                      span Read More
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#blog-1') Freewrite One
                // Modal
                #blog-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='blog-1-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#blog-1-label.modal-title Freewrite One
                      .modal-body
                        h3 Chapter 3
                        .row
                          .col-md-6
                            include blog/blog1.md
                          .col-md-6
                            img(src='images/blog-1.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='images/blog-2.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#blog-2')
                      i.fa.fa-search-plus
                      span Read More
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#blog-2') Freewrite Two 
                // Modal
                #blog-2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='blog-2-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#blog-2-label.modal-title Freewrite Two
                      .modal-body
                        h3 Chapter 4
                        .row
                          .col-md-6
                            include blog/blog2.md 
                          .col-md-6
                            img(src='images/blog-2.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/blog-3.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#blog-3')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#blog-3') Freewrite 3
                // Modal
                #blog-3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='blog-3-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#blog-3-label.modal-title Freewrite 3
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            include ./blog/blog-3.md  
                          .col-md-6
                            img(src='images/blog-3.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item
                .image-box
                  .overlay-container
                    img(src='images/blog-4.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#blog-4')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-4') Project Title
                // Modal
                #blog-4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='blog-4-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#blog-4-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            include ./blog/blog-4.md  
                          .col-md-6
                            img(src='images/blog-4.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='images/portfolio-5.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-5')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-5') Project Title
                // Modal
                #project-5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-5-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-5-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-5.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-6.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-6')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-6') Project Title
                // Modal
                #project-6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-6-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-6-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-6.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='images/portfolio-7.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-7')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-7') Project Title
                // Modal
                #project-7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-7-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-7-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-7.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-8.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-8')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-8') Project Title
                // Modal
                #project-8.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-8-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-8-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-8.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-9.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-9')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-9') Project Title
                // Modal
                #project-9.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-9-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-9-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-9.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='images/portfolio-10.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-10')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-10') Project Title
                // Modal
                #project-10.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-10-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-10-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-10.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-11.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-11')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-11') Project Title
                // Modal
                #project-11.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-11-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-11-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-11.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='images/portfolio-12.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-12')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-12') Project Title
                // Modal
                #project-12.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-12-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-12-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-12.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
    // section end
    // section start
    // ================
    .section.translucent-bg.bg-image-2.pb-clear
      .container.object-non-visible(data-animation-effect='fadeIn')
        h1#clients.title.text-center School Stuff
        .space
        .row
          .col-md-4
            .media.testimonial
              .media-left
               
                
              
               .media-body
                i.fa.fa-flask 
                a.btn.btn-info(data-target='#science', role='button') Science
                  // Modal
                #science.modal.fade(tabindex='-1', role='dialog', aria-labelledby='blog-1-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#science-label.modal-title Science Work
                      .modal-body
                        h3 Green = done Orange = WIP Red = havent started
                        .row
                          .col-md-6
                          a.btn.btn-info(href='#banner', role='button') fa-fa-flask
                          .col-md-6
                         a(href='http://www.w3schools.com/html/') button.btn.btn-success(type='button') Stuff 2 
                         .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
          .col-md-4
            .media.testimonial
              .media-left
                <i class="fa fa-globe"></i>
              .media-body
                .h3.media-heading(data-target='#ss') Scoial Studies
          
              .col-md-4
            .media.testimonial
              .media-left
                <i class="fa fa-book"></i>
              .media-body
                h3.media-heading ELA
        .row
          .col-md-4
            .media.testimonial
              .media-left
                <i class="fa fa-laptop"></i>
              .media-body
                h3.media-heading CTE
          .col-md-4
            .media.testimonial
              .media-left
                <i class="fa fa-plus"></i>
              .media-body
                h3.media-heading Math
          .col-md-4
            .media.testimonial
              .media-left
                <i class="fa fa-language"></i>
              .media-body
                h3.media-heading Spanish
      // section start
      // ================
      .translucent-bg.blue
        .container
          .list-horizontal
            .row
      // section end
    .default-bg.space.blue
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.text-center All My Work!
    // section end
    // section start
    // ================
    .section
      .container
        h1#portfolio.text-center.title Portfolio
        .separator
        p.lead.text-center
          | Lorem ipsum dolor sit amet laudantium molestias similique.
          br
          |  Quisquam incidunt ut laboriosam.
        br
        .row.object-non-visible(data-animation-effect='fadeIn')
          .col-md-12
            // isotope filters start
            .filters.text-center
              ul.nav.nav-pills
                li.active
                  a(href='#', data-filter='*') All
                li
                  a(href='#', data-filter='.web-design') Web design
                li
                  a(href='#', data-filter='.app-development') App development
                li
                  a(href='#', data-filter='.site-building') Site building
            // isotope filters end
            // portfolio items start
            .isotope-container.row.grid-space-20
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-1.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-1')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-1') Project Title
                // Modal
                #project-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-1-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-1-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-1.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='images/portfolio-2.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-2')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-2') Project Title
                // Modal
                #project-2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-2-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-2-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-2.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-3.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-3')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-3') Project Title
                // Modal
                #project-3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-3-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-3-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-3.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='images/portfolio-4.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-4')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-4') Project Title
                // Modal
                #project-4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-4-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-4-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-4.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='images/portfolio-5.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-5')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-5') Project Title
                // Modal
                #project-5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-5-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-5-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-5.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-6.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-6')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-6') Project Title
                // Modal
                #project-6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-6-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-6-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-6.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='images/portfolio-7.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-7')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-7') Project Title
                // Modal
                #project-7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-7-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-7-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-7.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-8.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-8')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-8') Project Title
                // Modal
                #project-8.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-8-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-8-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-8.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-9.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-9')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-9') Project Title
                // Modal
                #project-9.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-9-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-9-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-9.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='images/portfolio-10.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-10')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-10') Project Title
                // Modal
                #project-10.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-10-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-10-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-10.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='images/portfolio-11.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-11')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-11') Project Title
                // Modal
                #project-11.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-11-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-11-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-11.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='images/portfolio-12.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-12')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-12') Project Title
                // Modal
                #project-12.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-12-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-12-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='images/portfolio-12.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
            // portfolio items end
    // section end
    // section start
    // ================

    // section end
    // section start
    // ================
    .default-bg.space
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.text-center 10000+ Happy Clients!
    // section end
    // footer start
    // ================
    footer#footer
      // .footer start
      // ================
      .footer.section
        .container
          h1#contact.title.text-center Contact Us
          .space
          .row
            .col-sm-6
              .footer-content
                p.large
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis.
                ul.list-icons
                  li
                    i.fa.fa-map-marker.pr-10
                    |  One infinity loop, 54100
                  li
                    i.fa.fa-phone.pr-10
                    |  +00 1234567890
                  li
                    i.fa.fa-fax.pr-10
                    |  +00 1234567891
                  li
                    i.fa.fa-envelope-o.pr-10
                    |  your@email.com
                ul.social-links
                  li.facebook
                    a(target='_blank', href='https://www.facebook.com/pages/HtmlCoder/714570988650168')
                      i.fa.fa-facebook
                  li.twitter
                    a(target='_blank', href='https://twitter.com/HtmlcoderMe')
                      i.fa.fa-twitter
                  li.googleplus
                    a(target='_blank', href='http://plus.google.com')
                      i.fa.fa-google-plus
                  li.skype
                    a(target='_blank', href='http://www.skype.com')
                      i.fa.fa-skype
                  li.linkedin
                    a(target='_blank', href='http://www.linkedin.com')
                      i.fa.fa-linkedin
                  li.youtube
                    a(target='_blank', href='http://www.youtube.com')
                      i.fa.fa-youtube
                  li.flickr
                    a(target='_blank', href='http://www.flickr.com')
                      i.fa.fa-flickr
                  li.pinterest
                    a(target='_blank', href='http://www.pinterest.com')
                      i.fa.fa-pinterest
            .col-sm-6
              .footer-content
                form#footer-form(role='form')
                  .form-group.has-feedback
                    label.sr-only(for='name2') Name
                    input#name2.form-control(type='text', placeholder='Name', name='name2', required='')
                    i.fa.fa-user.form-control-feedback
                  .form-group.has-feedback
                    label.sr-only(for='email2') Email address
                    input#email2.form-control(type='email', placeholder='Enter email', name='email2', required='')
                    i.fa.fa-envelope.form-control-feedback
                  .form-group.has-feedback
                    label.sr-only(for='message2') Message
                    textarea#message2.form-control(rows='8', placeholder='Message', name='message2', required='')
                    i.fa.fa-pencil.form-control-feedback
                  input.btn.btn-default(type='submit', value='Send')
      // .footer end
      // .subfooter start
      // ================
      .subfooter
        .container
          .row
            .col-md-12
              p.text-center
                a(target='_blank', href='muchanem.surge.sh') Muchanem
                | .
      // .subfooter end
    // footer end
    //
      JavaScript files placed at the end of the document so the pages load faster
      ==================================================
    // Jquery and Bootstap core js files
    script(type='text/javascript', src='plugins/jquery.min.js')
    script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
    // Modernizr javascript
    script(type='text/javascript', src='plugins/modernizr.js')
    // Isotope javascript
    script(type='text/javascript', src='plugins/isotope/isotope.pkgd.min.js')
    // Backstretch javascript
    script(type='text/javascript', src='plugins/jquery.backstretch.min.js')
    // Appear javascript
    script(type='text/javascript', src='plugins/jquery.appear.js')
    // Initialization of Plugins
    script(type='text/javascript', src='js/template.js')
    // Custom Scripts
    script(type='text/javascript', src='js/custom.js')
